<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <a th:href="@{'/leaders'}">View Global Rankings</a>
    <th:block th:if="${numOfFriends > 0}">
        <h1>Friend Ranking</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player</th>
                <th scope="col">Total Points</th>


            </tr>
            </thead>
            <tbody>
            <th:block th:each="player : ${players}">
                <tr>
                    <th:block th:each="friend : ${friends}">
                        <td th:if="${player[0] == friend}">
                            <a th:href="@{'/profile/' + ${player[0]}}" th:text="${player[0]}"></a>, Total Points: <span th:text="${player[1]}"></span>
                        </td>
                    </th:block>
                    <td th:if="${player[0] == currentUsername}">
                        <a th:href="@{'/profile/' + ${player[0]}}" th:text="${player[0]}"></a>, Total Points: <span th:text="${player[1]}"></span>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>




        <ol>
            <div th:each="player: ${players}">

            </div>
        </ol>
    </th:block>
<th:block th:if="${numOfFriends == 0}">
    <h1>You don't have any friends added yet</h1>
</th:block>



</body>
</html>