<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <a th:href="@{'/leaders'}">View Global Rankings</a>
    <th:block th:if="${numOfFriends > 0}">
        <h1>Friend Ranking</h1>
        <ol>
            <div th:each="player: ${players}">
                <div th:each="friend : ${friends}">
                    <li th:if="${player[0] == friend}">
                        <h3><a th:href="@{'/profile/' + ${player[0]}}" th:text="${player[0]}"></a>, Total Points: <span th:text="${player[1]}"></span></h3>

                    </li>
                </div>
                <li th:if="${player[0] == currentUsername}">
                    <h3><a th:href="@{'/profile/' + ${player[0]}}" th:text="${player[0]}"></a>, Total Points: <span th:text="${player[1]}"></span></h3>
                </li>
            </div>
        </ol>
    </th:block>
<th:block th:if="${numOfFriends == 0}">
    <h1>You don't have any friends added yet</h1>
</th:block>



</body>
</html>