<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <th:block th:if="${numOfFriends > 0}">
        <h1>Friend Ranking</h1>
        <ol>
            <div th:each="player: ${players}">
                <div th:each="friend : ${friends}">
                    <li th:if="${player == friend}">
                        <a th:href="@{'/profile/' + ${player}}" th:text="${player}"></a>
                    </li>
                </div>
                <li th:if="${player == currentUsername}">
                        <a th:href="@{'/profile/' + ${player}}" th:text="${player}"></a>
                </li>
            </div>
        </ol>
    </th:block>
<th:block th:if="${numOfFriends == 0}">
    <h1>You don't have any friends added yet</h1>
</th:block>



</body>
</html>