<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Login')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <div class="container my-5">
        <h1>Login Page</h1>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>

        <form class="py-5" th:action="@{/login}" method="post">
            <div class="form-group">
                <label class="title-img px-5" for="username">Username</label>
                <input id="username" class="form-control input-fld ml-3" name="username" type="text" />
            </div>
            <div class="form-group">
                <label class="title-img px-5" for="password">Password</label>
                <input id="password" class="form-control input-fld ml-3" name="password" type="password" />
            </div>
            <input type="submit" class="btn btn-success ml-4" value="Log In" />
        </form>

    </div>

<footer style="position: absolute; width: 100%; bottom: 0; margin: 0;">
    <div align="center">
        <p class="my-2">Codeup Capstone project - Code-runner. Created by Zackry Neagley, Christian Kenney, Chris Mosqueda, Matthew Rich <a href="/about-us">ABOUT US</a></p>
    </div>
</footer>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>