<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('About Us')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="row aboutus-row">
            <div class="col-sm-12 col-md-3">
                <img src="images/zack2.png" class="aboutus-imgs" style="border-radius: 50%;"/>
                <p class="aboutus-names">Zackry Neagley</p>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="images/christian2.png" class="aboutus-imgs" style="border-radius: 50%;"/>
                <p class="aboutus-names">Christian Kenney</p>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="images/chris2.png" class="aboutus-imgs" style="border-radius: 50%;"/>
                <p class="aboutus-names">Chris Mosqueda</p>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="images/matt3.png" class="aboutus-imgs" style="border-radius: 50%;"/>
                <p class="aboutus-names" style="padding-left: 1rem;">Matthew Rich</p>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-github"></i>
            </div>
        </div>
    </div>

    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>