<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('About Us')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="images/zack.png" class="aboutus-imgs" style="border-radius: 50%; height: 40%;"/>
            <p class="aboutus-names">Zackry Neagley</p>
        </div>
        <div class="col-3">
            <img src="images/christian.png" class="aboutus-imgs" style="border-radius: 50%; height: 40%;"/>

            <p class="aboutus-names">Christian Kenny</p>

        </div>
        <div class="col-3">
            <img src="images/chris.png" class="aboutus-imgs" style="border-radius: 50%; height: 40%;"/>

            <p class="aboutus-names">Chris Mosqueda</p>

        </div>
        <div class="col-3">
            <img src="images/matt2.png" class="aboutus-imgs" style="border-radius: 50%; height: 40%;"/>

            <p class="aboutus-names" style="padding-left: 1rem;">Matthew Rich</p>

        </div>
    </div>
</div>

<script th:replace="fragments/scripts :: scripts"></script>

</body>
</html>