<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Add Friend')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <div class=" container">
        <form th:action="@{/add-friend}" th:method="post">
            <label for="friend">Enter username</label>
            <input type="text"  id="friend" name="username"/>
            <button>Submit</button>
        </form>
    </div>

    <script th:replace="fragments/scripts :: scripts"></script>

</body>
</html>