<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('List of all post')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <th:block th:if="${userExists == true}">
            <h1 style="color: green">Friend request sent!</h1>
        </th:block>
        <th:block th:if="${userExists == false}">
            <h1 style="color: red">No user found by that username</h1>
        </th:block>
        <th:block th:if="${ownUsername == true}">
            <h1 style="color: red">Cannot add yourself</h1>
        </th:block>
    </div>

    <script th:replace="fragments/scripts :: scripts"></script>
    <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>