<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head('Profile')"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container pt-5">
        <th:block th:if="${notValid == true}">
            <h1 class="no-results">No results were found</h1>
        </th:block>
        <th:block th:if="${notValid == false}">
            <h4 class="title-img px-5">Now viewing <span th:text="${user.username}"></span> profile</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="ml-5 prof-stat">
                        <th:block th:if="${topPlayer == user.username}">
                            <h4 class="border-bottom" style="color: lime;">#1 Ranked In The World!</h4>
                        </th:block>
                        <th:block th:if="${recordHolder == user.username}">
                            <h4 class="border-bottom" style="color: cyan;">Holds High Score Record</h4>
                        </th:block>
                        <div th:each="username : ${top10Usernames}">
                            <th:block th:if="${username == user.username}">
                            <h4 class="border-bottom" style="color: cyan;">Top 10 Player</h4>
                        </th:block>
                        </div>

                        <!--<h5>Email: <span th:text="${user.email}"></span></h5>-->
                        <h5>Rank: <span th:text="${user.rank}"></span></h5>
                        <h5>Total Career Points: <span th:text="${totalScore}"></span></h5>
                        <h5>High Score: <span th:text="${highscore}"></span></h5>

                        <div class="static-stats pt-5">
                            <p>Velocity: 6km/h north 38&#176;</p>
                            <p>Hit count: 89 hits per min</p>
                            <p>Distance traveled: 38.5 km</p>
                            <p>Power ups: </p>
                            <p>Coins found: </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <img style="width:100%" src="/images/runner.png" alt="3D-runner"/>
                </div>

                <!--<div class="col-md-2">-->
                    <!--<p>another col</p>-->
                    <!--<p>another col</p>-->
                    <!--<p>another col</p>-->
                    <!--<p>another col</p>-->
                    <!--<p>another col</p>-->
                    <!--<p>another col</p>-->

                <!--</div>-->
            </div> <!-- closes row -->
        </th:block>
    </div>

    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>