<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('List of all post')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class=" container">
            <h1>Add A Friend</h1>
            <th:block th:if="${userExists == true}">
                <h1 style="color: green">Friend request sent to <span th:text="${userToAdd}"></span></h1>
            </th:block>
            <th:block th:if="${userExists == false}">
                <h1 style="color: red"><span th:text="${userToAdd}"></span> does not exists</h1>
            </th:block>
            <th:block th:if="${ownUsername == true}">
                <h1 style="color: red">Cannot add yourself</h1>
            </th:block>
            <th:block th:if="${alreadySent == true}">
                <h1 style="color: red">You have already sent a friend request to <span th:text="${userToAdd}"></span></h1>
            </th:block>
            <th:block th:if="${bothSent == true}">
                <h1 style="color: green">You are now friends with <span th:text="${userToAdd}"></span></h1>
            </th:block>
            <th:block th:if="${acceptedFriend == true}">
                <h1 style="color: green">You are now friends with <span th:text="${userToAdd}"></span></h1>
            </th:block>
            <th:block th:if="${deletedFriend == true}">
                <h1 style="color: red">You are no longer friends with <span th:text="${userToAdd}"></span></h1>
            </th:block>
            <form th:action="@{/add-friend}" th:method="post">
                <label for="friend">Enter username</label>
                <input type="text"  id="friend" name="username"/>
                <button>Submit</button>
            </form>
        </div>
        <hr />
        <div class="container">
            <h1 th:if="${numberOfRequests > 0}">You have <span th:text="${numberOfRequests}"></span> friend requests!</h1>
            <div th:each="request : ${requests}">
                <p><span th:text="${request[0]}"></span> wants to be your friend</p>
                <form th:action="@{/accept-friend}" th:method="post">
                    <input type="hidden" th:value="${request[3]}" name="idOfRecord" />
                    <button>Accept</button>
                </form>
                <form th:action="@{/decline-friend}" th:method="post">
                    <input type="hidden" th:value="${request[3]}" name="idOfRecord" />
                    <button>Decline</button>
                </form>
            </div>
            <hr />
        </div>
        <h1>Friends list</h1>
        <div th:each="friend : ${friends}">
            <h4><a th:href="@{'/profile/' + ${friend}}" th:text="${friend}"></a></h4>
            <form th:action="@{/deleteFriendFromList}" th:method="POST">
                <input type="hidden" name="friend" th:value="${friend}" />
                <button>Delete Friend</button>
            </form>
        </div>
    </div>

    <script th:replace="fragments/scripts :: scripts"></script>
    <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>